.modal-content-card{
  border-radius: 5px;
  border: 0px;
  height: 427px;
  width: 550px;
  overflow: hidden;
  margin-left: 50px;
  align-items: center;
  position: relative;
  background-color: white;
}

.modal-content-card p {
    text-align: center;
    padding-top: 5px;
}

.modal-body-card{
  position: absolute;
  height: 400px;
  width : 250px;
}

.modal-body-card img {
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-size: cover !important;
}

.modal-img-card{
  position: absolute;
  right: 0px;
  height: 300px;
  width: 275px;
  background-color: white;

}

.modal-img-card img {
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-size: cover !important;
}

.modal-buy-card{
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 50px;
  width: 275px;
  background-color: white;
}
