---
title: Le Wagon Middleman boilerplate
---

<div class="banner" style="background: linear-gradient(-225deg, rgba(168,168,168,0.2) 10%, rgba(200,200,200,0.3) 10%), url('images/background_muesli2.jpg');">
  <div class="banner-content">
    <h1 id="welcome"><%= image_tag "MARLETTE_BLANC.png", id: "logohome"%></h1>
<!--     <form action="#" class="form-inline">
      <input type="text" class="form-control input-lg" placeholder="checkin">
      <input type="text" class="form-control input-lg" placeholder="checkout">
      <select name="" id="" class="form-control input-lg">
        <option value="1">1 person</option>
        <option value="2">2 persons</option>
        <option value="3">3 persons</option>
      </select>
      <input type="submit" class="btn btn-primary btn-lg" value="Search">
    </form> -->
  </div>
</div>


<!-- <div class="welcome text-center padded">
  <h1>Bienvenue chez Marlette</h1>
  <p class="doc">
    <#%= link_to "La nouvelle gamme des produits Marlettes", "http://www.marlette.fr/" %>
  </p>
</div> -->


<div class="wrapper-grey padded">
  <div class="container">
    <h2 class="text-center">La nouvelle game de muesli Marlette</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/situationchocoblanc.png');">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/situationchoconoir.png');">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/situationfruitssetnoix.png');">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- <div class="container text-center padded features">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <img src="images/globe.png" alt="">
      <h2>Discover the world</h2>
      <p>The earth is your new home.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <img src="images/dollar.png" alt="">
      <h2>Pay online</h2>
      <p>No cash issues anymore.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <img src="images/beer.png" alt="">
      <h2>Meet people</h2>
      <p>Discover new culture and lifestyle.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <img src="images/heart.png" alt="">
      <h2>Share and love</h2>
      <p>Join a community you will love.</p>
    </div>
  </div>
</div> -->


<div class="text-center padded" id="newsletter">
  <h2>Get news from us</h2>
  <p>Leave us your mail and get news from us</p>
  <form class="form-inline">
    <input type="email" placeholder="bob@gmail.com" class="form-control">
    <input type="submit" value="Subscribe" class="btn btn-primary">
  </form>
</div>


